.formButton {
    height: 38px;
    width: 100%;
    border-radius: 4px;
    border: none;
    color: var(--color-grey-0);

}

.submitButton {
    background-color: var(--color-brand-2);

    &:hover {
        background-color: var(--color-brand-2-hover);
    }
}

.submitButtonActive {
    background-color: var(--color-brand-1);

    &:hover {
        background-color: var(--color-brand-1-hover);
    }
}

.registerButton {
    background-color: var(--color-grey-1);

    &:hover {
        background-color: var(--color-grey-2);
    }
}

.backButton {
    background-color: var(--color-grey-3);
    color: var(--color-grey-0);
    border-radius: 4px;
    border: none;
    height: 2.5rem;
    padding: 0 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #1d1f22;
    }
}

.closeModalButton {
    height: 1.25rem;
    width: 1.25rem;
    border: none;
    background: transparent;
    color: var(--color-grey-1);

    .icon {
        height: 100%;
        width: 100%;
    }
}