.form {
    background-color: var(--color-grey-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;
    padding: 1.5rem 1rem;
    max-width: 23rem;
    width: 90%;
    border-radius: 4px;
}
.inputError {
    border-color: var(--color-error) !important
}