@import "./reset.scss";
@import "./global.scss";
@import "./components/texts.scss";
@import "./components/forms.scss";
@import "./components/buttons.scss";
@import "./components/modals.scss";

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}