.header {
    margin: 2rem 0;
    max-width: 23rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-weight: bolder;
        color: var(--color-brand-1);
        font-size: 1.3rem;
    }

}